<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookSwapHub - <%= book.title %></title>
  <link rel="icon" type="image/png" href="/BookSwapHubLogo.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1 id="BookSwapHub">BookSwapHub</h1>
  </header>
  <main>
    <div class="book-detail-container">
      <div class="book-image">
        <img src="<%= book.image %>" alt="<%= book.title %>">
      </div>
      <div class="book-info">
        <h3><%= book.title %></h3>
        <p><strong>Author:</strong> <%= book.author %></p>
        <p><strong>Description:</strong> <%= book.description %></p>
        <p><strong>Language:</strong> <%= book.language %></p>
        <p><strong>Category:</strong> <%= book.category %></p>
        <button id="ask-now-button">Ask Now</button>
      </div>
    </div>
  </main>
  <div id="loading" class="loading">
    <div class="spinner"></div>
  </div>
  <div id="loading-overlay" style="display: none;">
    <div id="loading-message"></div>
  </div>
  <footer>
    <p id="footer-year">&copy; <span id="current-year"></span> BookSwapHub</p>
  </footer>
  <div id="terms-popup" class="popup">
    <div class="popup-content">
      <h2>Terms and Conditions</h2>
      <p><h3>Welcome to BookSwapHub.</h3> By accessing or using our Website, you agree to be bound by these terms and conditions. If you do not agree with any part of the Terms, you must not use our Website.</p>
      <p>1. Book owners can upload books to the Website by providing accurate and complete information about the book.</p>
      <p>2. The Website reserves the right to remove any book listings that are inaccurate, misleading, or violate any of the Terms.</p>
      <p>3. Users can search for and request books listed on the Website. Upon requesting a book, the book owner and the requesting user will coordinate the exchange details, including the method and timing of the exchange.</p>
      <p>4. Users agree to handle borrowed books with care and to return them in the same condition as received. Borrowed books must be returned to the owner within <b>6 weeks</b> if not returned in time user should pay grace amount of &#8377 10 per week. Failure to return books or returning books in a damaged condition may result in the paying amount of <b>double the cost.</b></p>
      <p>5. Book owners are responsible for ensuring that the books they list are available for borrowing and are in good condition.</p>
      <p>6. No user is allowed to draw, mark, or any damage to book</p>
      <p><h3>7. Prohibited Activities: </h3>Users must not use the Website for any unlawful purpose, upload or distribute any content that is defamatory, obscene, harmful, or otherwise objectionable, or attempt to gain unauthorized access to any part of the Website or any other user accounts.</p>
      <p><h3>8. Privacy:</h3>We will not share personal information with third parties except as necessary to facilitate the book exchange process.</p>
      <p><h3>9. Limitation of Liability:</h3>The Website is not responsible for any damage or loss arising from the use of the Website or the exchange of books between users. The Website does not guarantee the accuracy or completeness of any book listings.</p>
      <p><h3>10. Changes to Terms:</h3> The Website reserves the right to modify these Terms at any time. Users will be notified of any changes, and continued use of the Website constitutes acceptance of the new Terms.</p>
      <p><h3>11. Contact Information:</h3> For any questions or concerns about these Terms, please contact us at <a href="mailto:BookSwapHub.RGUKT@gmail.com">Send email</a>.</p>
        <button id="accept-terms-button">Accept</button>
        <button id="cancel-terms-button">Cancel</button>
    </div>
  </div>
  <!-- Ask Now Form Container -->
  <div id="ask-now-form-container">
    <form id="ask-now-form">
      <h2>Ask Now</h2>
      <label for="ask-now-name">Name</label>
      <input type="text" id="ask-now-name" name="ask-now-name" required>

      <label for="ask-now-email">Email</label>
      <input type="email" id="ask-now-email" name="ask-now-email" required>

      <label for="ask-now-phone">Phone Number</label>
      <input type="tel" id="ask-now-phone" name="ask-now-phone" required>

      <label for="ask-now-id">Student ID</label>
      <input type="text" id="ask-now-id" name="ask-now-id" required>

      <!-- <label for="ask-now-class">Class</label>
      <input type="text" id="ask-now-class" name="ask-now-class" required> -->

      <button type="submit">Submit</button>
      <button type="button" id="cancel-ask-now">Cancel</button>
    </form>
  </div>

  
  <script>
    // Get the current year
    const currentYear = new Date().getFullYear();

    // Update the span element with the current year
     document.getElementById('current-year').textContent = currentYear; 
    // Get the current URL
    const currentURL = window.location.href;

    // Split the URL by '/' and get the last element
    const parts = currentURL.split('/');
    const Book_ID = parts[parts.length - 1];


    const showLoading = (message) => {
      document.getElementById('loading').style.display = 'flex';
      document.getElementById('loading-overlay').style.display = 'flex';
      document.getElementById('loading-message').textContent = message;
    };

    const hideLoading = () => {
      document.getElementById('loading-overlay').style.display = 'none';
      document.getElementById('loading').style.display = 'none';
    };

    document.getElementById('ask-now-button').addEventListener('click', function() {
      document.getElementById('terms-popup').style.display = 'flex';
      document.getElementById('accept-terms-button').addEventListener('click', function() {
        document.getElementById('terms-popup').style.display = 'none';
        document.getElementById('ask-now-form-container').style.visibility = 'visible';
        document.getElementById('ask-now-form-container').style.opacity = '1';
      });
      document.getElementById('cancel-terms-button').addEventListener('click', function() {
        document.getElementById('terms-popup').style.display = 'none';
      });
    })


    document.getElementById('cancel-ask-now').addEventListener('click', function() {
      document.getElementById('ask-now-form-container').style.visibility = 'hidden';
      document.getElementById('ask-now-form-container').style.opacity = '0';
    });

    document.getElementById('ask-now-form').addEventListener('submit', function(event) {
      event.preventDefault();
      showLoading('Requesting Book...');
      const askNowData = {
        bookId:Book_ID,
        name: document.getElementById('ask-now-name').value,
        email: document.getElementById('ask-now-email').value,
        phone: document.getElementById('ask-now-phone').value,
        id: document.getElementById('ask-now-id').value,
        class: "None"
      };

      console.log(askNowData.bookId)

      fetch('/api/ask-now', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(askNowData)
      })
      .then(response => response.json())
      .then(data => {
        hideLoading();
        alert(data.message);
        if (data.message === 'Request submitted successfully!') {
          document.getElementById('ask-now-form-container').style.visibility = 'hidden';
          document.getElementById('ask-now-form-container').style.opacity = '0';
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Failed to submit request. Please try again.');
      });
    });
    
  </script>
</body>
</html>
